
@using EnggBlog.Core.Interfaces
@inject IUser _UserService

<!DOCTYPE html>

<html lang="fa" dir="rtl">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
